.footer-container {
  width: 100%;
  height: 230px;
  border-top: 1px solid gray;
}
.tel-address {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
}

.name-etc {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid gray;
  color: rgb(153, 153, 153);
}
.warning {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 0, 0,0.7);
}
